<div class="home-container">
  <div class="home">
    <h1>Welcome to SunTravel Portal</h1>
    <p>Navigate to the features of the system using the options below:</p>
    <div class="features">
      <a routerLink="/hotel-contract" class="feature-card"
        >Add Hotel Contracts</a
      >
      <a routerLink="/hotel-search" class="feature-card">Search Hotels</a>
      <a routerLink="/view-contracts" class="feature-card">View Contracts</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
