.home-container {
  background-image: url("../b.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home {
  text-align: center;
  padding: 2rem;
  background-color: rgba(245, 245, 245, 0.5);
}

.features {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  background-color: rgba(245, 245, 245, 0);
}

.feature-card {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2vh 2vh;
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: rgba(23, 77, 45, 0.9);
  height: 20vh;
  width: 100vh;
}

.feature-card:hover {
  transform: scale(1.05);
  background-color: #00796b;
}
