<div class="home-container">
  <div class="container" >
    <h2 class="title">Search Contract Details</h2>

    <!-- Search Input -->
    <div class="search-section">
      <label for="contractId" class="form-label">Enter Contract ID:</label>
      <input
        type="number"
        id="contractId"
        [(ngModel)]="contractId"
        class="form-input"
      />
      <button (click)="searchContract()" class="btn btn-primary">Search</button>
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <!-- Contract Details -->
    <div *ngIf="contractDetails" class="contract-card">
      <h3 class="section-title">Contract Details</h3>
      <div class="info">
        <p><strong>Hotel Name:</strong> {{ contractDetails.hotelName }}</p>
        <p>
          <strong>Valid From:</strong> {{ contractDetails.contractValidFrom }}
        </p>
        <p><strong>Valid To:</strong> {{ contractDetails.contractValidTo }}</p>
      </div>

      <!-- Update Markup Percentage -->
      <form [formGroup]="contractForm" class="update-form">
        <p><strong>Markup Percentage:</strong></p>
        <input
          type="number"
          formControlName="markupPercentage"
          class="form-control"
        />
        <button (click)="updateMarkupPercentage()" class="btn btn-secondary">
          Update Markup Percentage
        </button>
      </form>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>

      <!-- Room Types -->
      <h4 class="section-title">Room Types</h4>
      <div class="room-card-container">
        <div *ngFor="let room of contractDetails.roomTypes" class="room-card">
          <p><strong>Room Type:</strong> {{ room.roomType }}</p>
          <p><strong>Price per Person:</strong> {{ room.pricePerPerson }}</p>
          <p><strong>Amount of Rooms:</strong> {{ room.amountOfRooms }}</p>
          <p><strong>Max Adults:</strong> {{ room.maxAdults }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
